body {
   padding: 30px 100px;
}

body > div:first-of-type {
   background-color: blue;
   height: 40px;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 50px;
}

body > div:nth-child(2) {
   display: flex;
   flex-wrap: wrap;
   margin-bottom: 50px;
}

body > div:nth-child(2) > a {
   width: 24%;
   line-height: 1px;
   text-decoration: none;
   color: blue;
   padding-left: 1%;
}

body > div:nth-child(2) > a:hover {
   width: 24%;
   line-height: 1px;
   background-color: blue;
   color: white;
}

.div1 {
   height: 350px;
   background-color: grey;
   padding: 30px 50px;
}

.section2 {
   display: none;
}

.div2 {
   height: 90px;
   background-color: rgb(196, 196, 196);
   padding-left: 10vh;
   padding-top: 60px;
}

.section3 {
   display: none;
}

.div3 {
   background-color: rgb(36, 175, 230);
   height: 250px;
   padding: 30px 10vh;
}

.section4 {
   display: none;
}

.div4 {
   background-color: rgb(196, 196, 196);
   height: 350px;
   padding: 30px 10vh;
}

.elements {
   width: 100%;
   display: flex;
   flex-wrap: no-wrap;
}

.element-1 {
   width: 40%;
   background-color: blue;
   height: 150px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.element-1-rouge {
   background-color: red;
   width: 50px;
   height: 50px;
}

.element-2 {
   width: 20%;
   height: 150px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: flex-end;
   margin-top: 100px;
}

.btn-1 {
   color: white;
   background-color: yellow;
   border: solid 1px grey;
   border-radius: 5px;
   padding: 10px 20px;
   width: 70%;
   margin-top: 50px;
}

.btn-2 {
   color: white;
   background-color: rgb(99, 219, 52);
   border: solid 1px grey;
   border-radius: 5px;
   padding: 10px 20px;
   width: 100%;
}

.element-3 {
   width: 40%;
   background-color: blue;
   height: 150px;
   display: flex;
   justify-content: center;
   align-items: center;
}


.section5 {
   display: none;
}

.div5 {
   background-color: yellow;
   height: 50%;
   padding: 30px 10vh;
}

.zak {
   color: white;
   background-color: rgb(99, 219, 52);
   border: solid 1px grey;
   border-radius: 5px;
   padding: 10px 20px;
}

.section6 {
   display: none;
}

.div6 {
   background-color: rgb(196, 196, 196);
   height: 600px;
   padding: 30px 10vh;
}

.calculatrice-1 {
   display: flex;
}

.plus {
   padding: 0 10px;
}

.egal {
   margin: 0 10px 0 7px;
}

.calculatrice-2 {
   background-color: rgb(49, 49, 49);
   width: 28%;
   height: 50vh;
   color: white;
}

.etage-1 {
   height: 24%;
   border-bottom: solid 1px rgb(85, 85, 85);
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   padding: 0 15px;
}

.etage-2 {
   height: 19%;
   border-bottom: solid 1px rgb(85, 85, 85);
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.etage-3 {
   height: 19%;
   border-bottom: solid 1px rgb(85, 85, 85);
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.etage-4 {
   height: 19%;
   border-bottom: solid 1px rgb(85, 85, 85);
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.etage-5 {
   height: 19%;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.touche-1 {
   width: 15%;
   height: 70%;
   background-color: rgb(211, 211, 211);
   border-radius: 5px;
   font-size: 100%;
}

.touche-2 {
   width: 15%;
   height: 70%;
   background-color: rgb(211, 211, 211);
   border-radius: 5px;
   font-size: 100%;
}

.touche-3 {
   width: 15%;
   height: 70%;
   background-color: rgb(211, 211, 211);
   border-radius: 5px;
   font-size: 100%;
}

.touche-plus {
   width: 15%;
   height: 70%;
   background-color: blue;
   border-radius: 5px;
   font-size: 100%;
   color: white;
}

.touche-4 {
   width: 15%;
   height: 70%;
   background-color: rgb(211, 211, 211);
   border-radius: 5px;
   font-size: 100%;
}

.touche-5 {
   width: 15%;
   height: 70%;
   background-color: rgb(211, 211, 211);
   border-radius: 5px;
   font-size: 100%;
}

.touche-6 {
   width: 15%;
   height: 70%;
   background-color: rgb(211, 211, 211);
   border-radius: 5px;
   font-size: 100%;
}

.touche-moins {
   width: 15%;
   height: 70%;
   background-color: blue;
   border-radius: 5px;
   font-size: 100%;
   color: white;
}

.touche-7 {
   width: 15%;
   height: 70%;
   background-color: rgb(211, 211, 211);
   border-radius: 5px;
   font-size: 100%;
}

.touche-8 {
   width: 15%;
   height: 70%;
   background-color: rgb(211, 211, 211);
   border-radius: 5px;
   font-size: 100%;
}

.touche-9 {
   width: 15%;
   height: 70%;
   background-color: rgb(211, 211, 211);
   border-radius: 5px;
   font-size: 100%;
}

.touche-fois {
   width: 15%;
   height: 70%;
   background-color: blue;
   border-radius: 5px;
   font-size: 100%;
   color: white;
}

.touche-C {
   width: 15%;
   height: 70%;
   background-color: rgb(211, 211, 211);
   border-radius: 5px;
   font-size: 100%;
   background-color: rgb(184, 47, 47);
   color: white;
}

.touche-0 {
   width: 15%;
   height: 70%;
   background-color: rgb(211, 211, 211);
   border-radius: 5px;
   font-size: 100%;
}

.touche-egal {
   width: 15%;
   height: 70%;
   background-color: rgb(99, 219, 52);
   border-radius: 5px;
   font-size: 100%;
   color: white;
}

.touche-diviser {
   width: 15%;
   height: 70%;
   background-color: blue;
   border-radius: 5px;
   font-size: 100%;
   color: white;
}

#calcul {
   height: 4vh;
   width: 80%;
}

.resultat {
   width: 100%;
   text-align: right;
}