body {
   padding: 30px 100px;
}

body > div:first-of-type {
   background-color: blue;
   height: 40px;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 50px;
}

body > div:nth-child(2) {
   display: flex;
   flex-wrap: wrap;
   margin-bottom: 50px;
}

body > div:nth-child(2) > a {
   width: 24%;
   line-height: 1px;
   text-decoration: none;
   color: blue;
   padding-left: 1%;
}

body > div:nth-child(2) > a:hover {
   width: 24%;
   line-height: 1px;
   background-color: blue;
   color: white;
}

.div1 {
   height: 350px;
   background-color: grey;
   padding: 30px 50px;
}

.section2 {
   display: none;
}

.div2 {
   height: 90px;
   background-color: rgb(196, 196, 196);
   padding-left: 10vh;
   padding-top: 60px;
}

.section3 {
   display: none;
}

.div3 {
   background-color: green;
   height: 350px;
   width: 100%;
   color: white;
}

.section4 {
   display: none;
}

.div4 {
   background-color: yellow;
   height: 100px;
   width: 100%;
   color: white;
}

.section5 {
   display: none;
}

.div5 {
   background-color: pink;
   height: 500px;
}

.section6 {
   display: none;
}

.div6 {
   background-color: purple;
   height: 200px;
}